
.App {

  font-family: "PT Sans";
  color: #353535;
  
}

.container{
  width: 25%;
  height: 100vh;
  background-color: #353536;
  z-index: 0;
  box-shadow: 2px 2px 5px black;
}

h2{
  margin: 0;
  display: block;
  font-size: 20px;
  padding: 5px 10px;
  color: rgb(198, 198, 198);
}